*{
  margin: 0;
  padding: 10px 0;
}
body{
  background: #FBFFE2;
}
.welcome{
  text-align: center;
  font-family: monospace;
}

p{
  margin: 0 20px;
  text-align: center;
}

p{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
  }

/* ---------------------------------------------------------------- */

.container{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container .box{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}


/* --------------------------------------------------------------------------------- */

.container2{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container2 .box2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

/* ------------------------------------------------------------------------- */
.container3{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container3 .box3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

/* --------------------------------------------------------------------------------- */

.container4{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container4 .box4{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}


/* --------------------------------------------------------------------------------- */

.container5{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container5 .box5{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}



/* --------------------------------------------------------------------------------- */

.container6{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container6 .box6{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

/* --------------------------------------------------------------------- */
.btn{
  border-radius: 5px;
  margin: 10px auto;/*centering button*/
  display: block;/*centering button*/
  padding: 10px 20px;
  background: none;
  border: 1px solid #3498db;
  font-size: 15px;
  font-weight: 600;
  color: #3498db;
  cursor: pointer;
  -webkit-transition-duration:0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover{
  color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
