body{
  margin: 0;
  padding: 0;
}
section{
  height: 100vh;
  background: #000;
}
section:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
  pointer-events: none;
  mix-blend-mode: color;
}
video{
  object-fit: cover;
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: sans-serif;
  letter-spacing: 0.2em;
}
h1 span{
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}
h1 span:nth-child(1){/*C*/
  animation-delay: 1s;
}
h1 span:nth-child(2){/*O*/
  animation-delay: 1.25s;
}
h1 span:nth-child(3){/*M*/
  animation-delay: 1.5s;
}
h1 span:nth-child(4){/*I*/
  animation-delay: 2s;
}
h1 span:nth-child(5){/*N*/
  animation-delay: 2.25s;
}
h1 span:nth-child(6){/*G*/
  animation-delay: 2.5s;
}
h1 span:nth-child(7){/*S*/
  animation-delay: 2.7s;
}
h1 span:nth-child(8){/*O*/
  animation-delay: 3s;
}
h1 span:nth-child(9){/*O*/
  animation-delay: 3.25s;
}
h1 span:nth-child(10){/*N*/
  animation-delay: 3.5s;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
