*{
  margin: 0;
  padding: 10px 0;
}
body{
  background: #FBFFE2;
}
.welcome{
  text-align: center;
  font-family: monospace;
}

p{
  margin: 0 20px;
  text-align: center;
}

p{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
  }

/* ---------------------------------------------------------------- */

.container{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container .box{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container .options{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}
.container .box label{/*designing space and border around options*/
  margin: 10px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.container .box label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-4:checked ~ .option-4 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container .box label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4{
  background: #333;
  border-color: #333;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text{
  color: #fff;
}
.container .box input[type="radio"]{
  display: none;
}

/* --------------------------------------------------------------------------------- */

.container2{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container2 .box2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container2 .options2{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}

.container2 .box2 label{/*designing space and border around options*/
  margin: 10px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.container2 .box2 label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box2 label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-5:checked ~ .option-5 .dot::before,
#option-6:checked ~ .option-6 .dot::before,
#option-7:checked ~ .option-7 .dot::before,
#option-8:checked ~ .option-8 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container2 .box2 label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-5:checked ~ .option-5,
#option-6:checked ~ .option-6,
#option-7:checked ~ .option-7,
#option-8:checked ~ .option-8{
  background: #333;
  border-color: #333;
}
#option-5:checked ~ .option-5 .text,
#option-6:checked ~ .option-6 .text,
#option-7:checked ~ .option-7 .text,
#option-8:checked ~ .option-8 .text{
  color: #fff;
}
.container2 .box2 input[type="radio"]{
  display: none;
}
/* ------------------------------------------------------------------------- */
.container3{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container3 .box3{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container3 .options3{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}

.container3 .box3 label{/*designing space and border around options*/
  margin: 20px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 30px;
  cursor: default;
  transition: all 0.3s ease;
}
.container3 .box3 label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box3 label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-9:checked ~ .option-9 .dot::before,
#option-10:checked ~ .option-10 .dot::before,
#option-11checked ~ .option-11.dot::before,
#option-12:checked ~ .option-12 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container3 .box3 label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-9:checked ~ .option-9,
#option-10:checked ~ .option-10,
#option-11:checked ~ .option-11,
#option-12:checked ~ .option-12{
  background: #333;
  border-color: #333;
}
#option-9:checked ~ .option-9 .text,
#option-10:checked ~ .option-10 .text,
#option-11:checked ~ .option-11 .text,
#option-12:checked ~ .option-12 .text{
  color: #fff;
}
.container3 .box3 input[type="radio"]{
  display: none;
}

/* --------------------------------------------------------------------------------- */

.container4{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container4 .box4{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container4 .options4{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}

.container4 .box4 label{/*designing space and border around options*/
  margin: 10px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.container4 .box4 label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box4 label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-13:checked ~ .option-13 .dot::before,
#option-14:checked ~ .option-14 .dot::before,
#option-15:checked ~ .option-15 .dot::before,
#option-16:checked ~ .option-16 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container4 .box4 label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-13:checked ~ .option-13,
#option-14:checked ~ .option-14,
#option-15:checked ~ .option-15,
#option-16:checked ~ .option-16{
  background: #333;
  border-color: #333;
}
#option-13:checked ~ .option-13 .text,
#option-14:checked ~ .option-14 .text,
#option-15:checked ~ .option-15 .text,
#option-16:checked ~ .option-16 .text{
  color: #fff;
}
.container4 .box4 input[type="radio"]{
  display: none;
}


/* --------------------------------------------------------------------------------- */

.container5{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container5 .box5{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container5 .options5{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}

.container5 .box5 label{/*designing space and border around options*/
  margin: 10px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.container5 .box5 label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box5 label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-17:checked ~ .option-17 .dot::before,
#option-18:checked ~ .option-18 .dot::before,
#option-19:checked ~ .option-19 .dot::before,
#option-20:checked ~ .option-20 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container5 .box5 label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-17:checked ~ .option-17,
#option-18:checked ~ .option-18,
#option-19:checked ~ .option-19,
#option-20:checked ~ .option-20{
  background: #333;
  border-color: #333;
}
#option-17:checked ~ .option-17 .text,
#option-18:checked ~ .option-18 .text,
#option-19:checked ~ .option-19 .text,
#option-20:checked ~ .option-20 .text{
  color: #fff;
}
.container5 .box5 input[type="radio"]{
  display: none;
}


/* --------------------------------------------------------------------------------- */

.container6{
  position: relative;
  background: #fff;
  margin: 20px /*top, bottom*/ 20px /*left, right*/;
  border-radius: 10px;
  box-shadow: 5px/*X*/ 5px/*Y*/ 30px/*blur*/ rgba(0,0,0,0.2);
}
.container6 .box6{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
.container6 .options6{
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}

.container6 .box6 label{/*designing space and border around options*/
  margin: 10px 0;
  display: flex;align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  padding-left: 20px;
  cursor: default;
  transition: all 0.3s ease;
}
.container6 .box6 label .dot{
  /*creating dot background */
  height: 20px;
  width: 40px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.box6 label .dot::before{
    /*creating dot */
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-21:checked ~ .option-21 .dot::before,
#option-22:checked ~ .option-22 .dot::before,
#option-23:checked ~ .option-23 .dot::before,
#option-24:checked ~ .option-24 .dot::before{
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

.container6 .box6 label .text{
  /*shifting text from dots */
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
/* creating dark colour for options when clicked */
#option-21:checked ~ .option-21,
#option-22:checked ~ .option-22,
#option-23:checked ~ .option-23,
#option-24:checked ~ .option-24{
  background: #333;
  border-color: #333;
}
#option-21:checked ~ .option-21 .text,
#option-22:checked ~ .option-22 .text,
#option-23:checked ~ .option-23 .text,
#option-24:checked ~ .option-24 .text{
  color: #fff;
}
.container6 .box6 input[type="radio"]{
  display: none;
}

/* --------------------------------------------------------------------- */
.btn{
  border-radius: 5px;
  margin: 10px auto;/*centering button*/
  display: block;/*centering button*/
  padding: 10px 20px;
  background: none;
  border: 1px solid #3498db;
  font-size: 15px;
  font-weight: 600;
  color: #3498db;
  cursor: pointer;
  -webkit-transition-duration:0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover{
  color: #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
