@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  text-decoration: none;
  list-style: none; /*remove dots for li*/
}
.load{
  animation: slide 1s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 40s infinite;
}
/*picture slide*/
@keyframes slide {
  0%{
    background-image: url('../background/9.jpg');
  }
  20%{
    background-image: url('../background/9.jpg');
  }
  20.01%{
    background-image: url('../background/diagoona-bg-1.jpg');
  }
  40%{
    background-image: url('../background/diagoona-bg-1.jpg');
  }
  40.01%{
    background-image: url('../background/b1.jpg');
  }
  60%{
    background-image: url('../background/b1.jpg');
  }
  60.01%{
    background-image: url('../background/diagoona-bg-2.jpg');
  }
  80%{
    background-image: url('../background/diagoona-bg-2.jpg');
  }
  80.01%{
    background-image: url('../background/diagoona-bg-3.jpg');
  }
  100%{
    background-image: url('../background/diagoona-bg-3.jpg');
  }
}

.content{
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
}
label.logo{
  font-family: 'Tourney', cursive;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  padding: 0 100px;
  line-height: 80px;
  position: relative;
  text-shadow: 0 0 50px #0f0,
               0 0 100px #0f0,
               0 0 150px #0f0,
               0 0 200px #0f0,
               0 0 250px #0f0;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0%
  {
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


/*menu style changing*/
nav ul{
  /* background: rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
  float: right;
  margin-right: 120px;
}
nav ul li{/*column to row*/
  display: inline-block;
  padding: 0 15px;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{/* decoration*/
  color: white;
  font-size: 17px;
  padding: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
nav a.active,nav a:hover{
  background: #1b9bff;
}


nav ul ul{/*initiating first dropdown menu of courses*/
  position: absolute;
  display: none;
}

nav ul li:hover > ul{/*generating first dropdown menu*/
  display: block;
  background: rgba(0, 0, 0, 0.1);
}
nav ul ul li{/*activating all options of first drop down menu*/
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul li{/*2nd dropdown menu activates*/
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: relative;
  top: -60px;
  left: 100px;
}

.row{
  display: flex;
  align-items: center;
}
.col1{
  flex-basis: 50%;
}
.col2{
  align-content: center;
}
.card{
  text-align: center;
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card1{
  background-image: url(../background/images.png);
}
.card2{
  background-image: url(../background/image2s.png);
}
.card:hover{
  transform: translateY(-10px);
}


/*menu style changing ends*/

h1{
  position: relative;
  font-family: 'Andada Pro', serif;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  /* background: rgba(0, 0, 0, 0.5); */
  margin: 0 20px;
  text-align: center;
  margin-top: 25px;
}
.reach{
  position: absolute; /*moves to bottom*/
  bottom: 0; /*moves to bottom*/
  text-align: center;
  width: 100%;
}
 h2{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  /* background: rgba(0, 0, 0, 0.5); */
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.reach img{
  background: auto;
  text-align: center;
  padding:15px 5%;
} 






/*for small devices*/
@media only screen and (max-width: 768px){
  .content{
    flex-direction: column;
  }
  label.logo{
    font-size: 30px;
  }
  h1
  {
    margin-top: 100px;
    font-size: 20px;
  }
}
